body {
  margin: 20px;
  padding: 0;
  background-color: #b9b697;
  font-size: 19px;
}
h1 {
  text-align: left;
}
ol {
  list-style-image: url(../../pics/square.png);
}
/*.recolour(@col) {
  background-color: @col;
}*/
.superBorder (@color) {
  border: 1px solid @color;
  border-radius: 3px;
  list-style: none;
  padding: 10px;
}
.text {
  .superBorder(black);
}
#questList > li {
  .superBorder(white);
  margin: 0px 0px 0px -40px;
}
li:hover {
  padding: 0px;
  border-radius: 3px;
  background-color: #fbff4f;
  cursor: pointer;
  vertical-align: middle;
}
a:hover {
  cursor: pointer;
}
.mainarea {
  width: 1260px;
  padding: 20px;
  background-color: #CAFF70;
  border-radius: 3px;
  box-shadow: 10px 10px 10px #908e76;
}
.mainarea:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.results {
  .brownTheme;
  text-align: center;
  padding: 10px 10px 50px;
  margin-left: 20px;
  display: inline-block;
  width: 160px;
  h3 {
    color: black;
  }
}
.listQ,.question {
  margin: 0;
  padding: 10px;
  position: relative;
  float: left;
  width: 1030px;
}
.brownTheme {
  font-weight: 600;
  padding: 10px;
  color: white;
  background: #908e76;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 10px 10px 10px #a19e83 outset;
}
.question {
  display: none;
}
.picture {
  text-align: center;
}